@font-face {
	font-family: 'Lyon Text Web';
	src: url('../pudding-fonts/lyon/LyonText-Regular-Web.woff2') format('woff2'),
	url('../pudding-fonts/lyon/LyonText-Regular-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ohno Blazeface';
	src: url('../pudding-fonts/blaze/Ohno_Blazeface-12_Point.woff2') format('woff2'),
	url('../pudding-fonts/blaze/Ohno_Blazeface-12_Point.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}