:root {
  --sans: "National 2 Web", Helvetica, Arial, sans-serif;
  --serif: "Tiempos Text Web", Georgia, Times, serif;
  --mono: Menlo, Consolas, Monaco, "Courier New", monospace;

  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;

  --black: #000;
  --off-black: #282828;
  --gray-dark: #5b5b5b;
	--grayer: #7b7b7b;
  --gray: #949494;
  --gray-light: #c9c9c9;
  --off-white: #f0f0f0;
  --white: #fff;
  --purple: #a239ca;
  --blue: #4717f6;
  --green: #34a29e;
  --red: #ff533d;
  --yellow: #e5e338;
	--node-0: #AA3377;
	--node-1: #66CCEE;
	--node-2: #CCBB44;
	--node-3: #228833;
	--node-4: #EE6677;
	--node-5: #4477AA;
	/* --node-0: #aff05b;
	--node-1: #6e40aa;
	--node-3: #b23cb2;
	--node-5: #ee4395;
	--node-2: #ff5e63;
	--node-4: #ff8c38; */
	/* --node-0: #6929c4;
	--node-1: #1192e8;
	--node-2: #005d5d;
	--node-3: #9f1853;
	--node-4: #fa4d56;
	--node-5: #570408; */
	

  --bg: var(--white);
  --fg: var(--off-black);
  --default: var(--gray-light);
  --primary: var(--node-0);
  --secondary: var(--node-1);

  /* water.css */

  --body-font: var(--sans);
  --background-body: var(--white);
  --background-ui: var(--white);
  --background-alt: var(--off-white);
  --selection: var(--gray);
  --text-main: var(--off-black);
  --links: var(--purple);
  --focus: var(--purple);
  --border: var(--gray-light);
  --animation-duration: 0.1s;
  --button-hover: var(--gray-light);
  --scrollbar-thumb: var(--gray-light);
  --scrollbar-thumb-hover: var(--gray-dark);
  --form-placeholder: var(--gray-dark);
  --form-font: var(--sans);
  --form-text: var(--gray-dark);
  --input-thumb: var(--gray-dark);
  --highlight: var(--yellow);
}

p {
	line-height: 1.6;
	font-size: 20px;
}

blockquote {
	padding: 0.25em 0.75em;
	margin: 2em auto;
	background: var(--off-white);
	border-left: 4px solid var(--gray-light);
}

.skip-to-main {
  border: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.skip-to-main:focus {
  width: auto;
  height: auto;
  padding: 0.5em;
  z-index: 1000;
}

/* pudding */
.wordmark svg path {
  fill: currentColor;
}

.scatter-node-text {
  display: inline-block;
  margin: 0;
  padding: 2px 4px;
  font-size: 18px;
  line-height: 1;
}

.scatter-node-text--sm {
  display: inline-block;
  margin: 0;
  padding: 2px 4px;
  font-size: 14px;
  line-height: 1;
}

span.node {
	transition: background-position 250ms ease-in-out;
}

span.node:hover {
	background-position: 0px 0px;
	
}

span.node-0 {
	border-bottom: 6px solid var(--node-0);
}

span.node-1 {
	border-bottom: 6px solid var(--node-1);
}

span.node-2 {
	border-bottom: 6px solid var(--node-2);
}

span.node-3 {
	border-bottom: 6px solid var(--node-3);
}

span.node-4 {
	border-bottom: 6px solid var(--node-4);
}

span.node-5 {
	border-bottom: 6px solid var(--node-5);
}

span.gray-light {
	background-color: var(--off-white);
	padding: 0 0.25em;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}